<% unless current_user %>
<%= render 'layouts/login_panel' %>
<% end %>
<div class="container-fluid">
  <header class="jumbotron hero-spacer">
    <h1>A Warm Welcome to QChat!</h1>
    <p>by 陈佩 贺坤 苗敬博</p>

    <p>
      <% if current_user %>
          hello! <%= current_user.name %>
      <% else %>
          <a href="#" class="btn btn-primary btn-large" id="login_panel"> Log in!</a>
          <a href="#" class="btn btn-primary btn-large" id="reigster_panel"> register</a>
      <% end %>

    </p>

    <h3>
      目前功能
    </h3>
    <li>聊天室消息即时推送</li>
    <li>支持查找，添加，删除好友</li>
    <li>创建私人聊天，也支持多人聊天</li>
    <li>房主可以拉人，踢人</li>
    <li>房主能转移房屋权限</li>
    <h3>
      完成功能
    </h3>
    <li>用户注册</li>
    <li>现在的即时推送只限于聊天的消息，其他的推送比如未读信息数量及红点提醒</li>
    <li>添加好友弹窗同意</li>
    <li>用户个人信息</li>
    <li>管理后台开发</li>



  </header>

  <hr>
  <hr>
</div>