.u_header h1 {
    width: 167px;
    height: 50px;
    font-size: 30px;
    color: #555;
    border-bottom: 2px #ff8f2b solid;
    text-align: center;
}
.fl, .fr {
    display: inline;
    float: left;
}